[% INSERT header.start.tmpl %]
</head> [%# we need to close the head tag opened in header.start.tmpl %]
<body>
<form action="/cgi-bin/comment.pl" method="post" enctype="multipart/form-data"
	id="dirtyForm[% custid %]com">
	[%# step through the comments handed by the cgi -%]
	[%- FOREACH comment = comments -%]
	[%# this next check is probably redundant -%]
	[%- NEXT UNLESS comment.custid == custid -%]
   <span style="white-space: nowrap;">
 	<label for="[% comment.id %]comment">Comment
	<noscript>(5000)</noscript>:</label>  
	<textarea name="[% comment.id %]comment"
		id="[% comment.id %]comment" cols="75"
		class="[% custid %]countable500">[% comment.comment %]</textarea>
	</span>
   <span style="white-space: nowrap;">
 	<label for="[% comment.id %]date">Date
	<noscript>(YYYY-MM-DD)</noscript>:</label>  
	<input type="text" size=10
		name="[% comment.id %]date"
	class="datepicker"
		value="[% comment.date %]"
		id="[% comment.id %]date">
	</span>
   <span style="white-space: nowrap;">
 	<label for="[% comment.id %]del">Delete</label>  
	<input type="checkbox" name="[% comment.id %]del" value="Delete">
	</span>
	[% END %]
    <span style="white-space: nowrap;">
	<label for="new[%custid%]comment">Comment
	<noscript>(500)</noscript>:</label>
	<textarea name="new[%custid%]comment"
			name="new[%custid%]comment"
			cols="75"
			class="[% custid %]countable500"></textarea>
	</span>
   <span style="white-space: nowrap;">
	<label for="new[%custid%]date">Date
	<noscript>(YYYY-MM-DD)</noscript>:</label>
	<input type="text" size=10 name="new[%custid%]date"
		class="datepicker"
	  	id="datepicker[% custid %]comment"
	 	value="[% today %]">
	</span>
	<INPUT type="submit" class="submit" value="Do IT!">
</form>
[% INCLUDE jquery.comment.tmpl %]
</body>
