	<!-- This is the head closing tag and some html that needs to be at the
		top of the body of every page of the ssss --!>

  	</head>
	<body> 
		<div id="header">
			<a href="/index.html" class="logo" alt="Home Page doesn't work">Home</a>
			<h1 class="headline">Solstice SpreadSheet Simulation System</h1>
		</div>
