content-type: text/html

<!-- This is a template for the start of the header for the ssss pages
we need to split the head, so we can have the javascript template(s)
included, or not, as we like from the main template --!>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN">
<html>
	<head>
 		<title>Solstice Spreadsheet Simulation System</title>
		<!-- include a stylesheet, this needs to be tweaked so we can have
			multiple styles selected and stored in a coookie --!>
		<link rel="stylesheet" type="text/css" href="/css/css.css" />
		<!-- add in the jquery-UI stylesheet --!>
		<link type="text/css"
			href="/css/ui-darkness/jquery-ui-1.8.4.custom.css"
			rel="stylesheet" />
