content-type: text/html

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN">
<html>
	<head>
 		<title>Solstice Spreadsheet Simulation System</title>
		<link rel="stylesheet" type="text/css" href="/css.css" />
  	</head>
	<body> 
		<div id="header">
			<a href="/index.html" class="logo" alt="Home Page doesn't work">Home</a>
			<h1 class="headline">Solstice SpreadSheet Simulation System</h1>
		</div>
