<!-- load the jquery library from the js dir --!>
<script type="text/javascript" src="/js/jquery.js"></script>
<!-- an load the jquery-ui library too --!>
<script type="text/javascript" src="/js/jquery-ui-1.8.4.custom.min.js">
</script>
<!-- load the dirtyfields plugin --!>
<script type="text/javascript" src="/js/jquery.dirtyFields.packed.js">
</script>
<!-- load the supertextarea plugin --!>
<script type="text/javascript" src="/js/jquery.supertextarea.min.js">
</script>
	<!-- when the document is ready hide the edit rows of the table
	and set up click events to toggle the normal and editable rows
	when the row is clicked --!>
<script type="text/javascript">
	$(document).ready(function(){
		// Add in a datepicker for things of class="datepicker"
       	$('.datepicker').datepicker({
			dateFormat: 'yy-mm-dd'
       	});
        //hover states on the static widgets
        $('#dialog_link, ul#icons li').hover(
            function() { $(this).addClass('ui-state-hover'); }, 
            function() { $(this).removeClass('ui-state-hover'); }
        );
       	//use DirtyForm to show when the form is dirty
		var dirty={
			denoteDirtyForm: true,
	        denoteDirtyOptions:true,
		  	dirtyOptionClass:"dirtyChoice",
	       	trimText:true,
			formChangeCallback: function(result,dirtyFieldsArray) {
            if(result)
                {
                    $("#changes").val(dirtyFieldsArray);
                }
            else
                {
                    $("#changes").val();
                }
			}
		};
		$('#dirtyForm').dirtyFields(dirty); 
		// add confirmation to delete links
	    $('.delete').click(function(){
            var answer = confirm('Delete '+jQuery(this).attr('title'));
            // jQuery(this).attr('title') gets anchor title attribute
            return answer; // answer is a boolean
        }); 
		// add confirmation to the form submit
		$('.submit').click(function(){
			var answer = confirm('Update: '+jQuery("#changes").attr('value'));
			// hopefully this returns the value of changes.
			return answer; 
        }); 
		// turn textareas into supertext areas with char limits of 250 and 500
		// comment out for the moment as it's borked and we're getting support
		// from the author.
		\$('.countable500').supertextarea({ 
	   		tabr: {use: true, space: true, num: 3}
   			, maxl: 500
   			, dsrm: {use: true, text: 'Remaining'}
       	}); 
    });
</script>
