<script type="text/javascript">
	// Add in a datepicker for things of class="datepicker"
	$('.datepicker').datepicker({ dateFormat: 'yy-mm-dd' });
	// use the prettyComments plugin on the textareas
	$('.[% custid %]countable500').prettyComments();
	// add in limits 
	$('.[% custid %]countable500').jqEasyCounter({
	    'maxChars': 500,
	    'maxCharsWarning': 485
	});     
    $('.delete').click(function(){
        var answer = confirm('Delete '+jQuery(this).attr('title'));
        // jQuery(this).attr('title') gets anchor title attribute
        return answer; // answer is a boolean
    }); 
	// make the form an Ajaj form and get it to reload the pane when a comment
    // is submitted
    $('#dirtyForm[% custid %]com').ajaxForm(function() {
        //alert("Gashfucking Cuntsticks");
        $('#[% custid %]tabs').tabs("load" ,1);
    });
</script>
