[% INCLUDE header.tmpl %]
	[% USE DBI( database = 'dbi:mysql:solsys',
       	username = 'solsys',
		password = 'w0kk4' )
	%]
	<h1> Are you sure you want to delete this record? </h1>
		[% main = DBI.prepare("SELECT * FROM comment WHERE id = ?") %] 
		[% FOREACH record = main.execute(id) %]
			ID: [% record.id %] <br>
			Customer ID: [% record.custid %] <br>
			Date: [% record.fteirst %] <br>
			Comment: [% record.comment %] <br>
		[% END %]		
	<a href="/ssdelcom.pl?id=$id">Yes</a>
    <input type="button" value="Nien!" onClick="window.opener.location.reload(true); window.close();">

	<div id="footer">
  	<div id="copyright">
    		&copy; [% copyright %]
  	</div>
	</div>
</body>
</html>
