[% INCLUDE header.tmpl %]
		
		You have deleted customer number: $id

		<input type="button" value="Done!" onClick="window.opener.location.reload(true); window.close();">
    	<div id="footer">
      	<div id="copyright">
        		&copy; [% copyright %]
      	</div>
		</div>
	</body>
</html>
