content-type: text/html

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Strict//EN">
<html>
	<head>
 		<title>Solstice Spreadsheet Simulation System</title>
  	</head>
	<body> 
		<div id="header">
			<a href="/index.html" class="logo" alt="Home Page"><img src="../pics/ss.jpg" alt="ss" /></a>
			<h1 class="headline">Solstice SpreadSheet Simulation System</h1>
		</div>
		
		[% USE DBI( database = 'dbi:mysql:solsys',
	       	username = 'solsys',
			password = 'w0kk4' )
		%]
		[% IF id == 'new' %]
			[% id = '' %]
		[% END %]
		<form action="/sssubmit.pl" method="post" target="_parent">
			ID: <INPUT type="radio" name="id" value="$id" checked="checked"> <BR>
			Name (50): <input type="text" size=50 name="name" value="$name" />	<BR>
			Address (250): <textarea name="address" rows=5 cols=50> $address </textarea> <BR>
			Phone (50): <input type="text" size=50 name="phone" value="$phone" /> <BR>
			Email (50): <input type="text" size=50 name="email" value="$email" /> <BR>	
			Reference (5): <input type="text" size=5 name="reff" value="$reff"/> <BR>
			Grant Type : <select name="grantype">
							<option></option>
							<option [% IF grantype == 'st1' %]
									selected="selected"
									[% END %]
							>st1</option>
							<option [% IF grantype == 'st2' %]
									selected="selected"
									[% END %]
							>st2</option>
							<option [% IF grantype == 'ph2' %]
									selected="selected"
									[% END %]
							>ph2</option>	
						</select> <BR>
			Lead: (5): <input type="text" size=5 name="lead" value='$lead'> <BR>
			First Contact (date in YYYY-MM-DD format): <input type="text" size=10 name="first" value='$first'><BR>
			Stage: <select name="stage">
							<option [% IF  stage == 'first' %]
									selected="selected"
									[% END %]
							>first</option>
							<option [% IF  stage == 'quote' %]
									selected="selected"
									[% END %]
							>quote</option>
							<option [% IF  stage == 'happen' %]
									selected="selected"
									[% END %]
							>happen</option>	
							<option [% IF  stage == 'lost' %]
									selected="selected"
									[% END %]
							>lost</option>	
							<option [% IF  stage == 'completed' %]
									selected="selected"
									[% END %]
							>completed</option>	
						</select> <BR>
			Assigned to : <select name="assign">
							<option></option>
							<option [% IF  assign == 'rich' %]
									selected="selected"
									[% END %]
							>rich</option>
							<option [% IF  assign == 'mik' %]
									selected="selected"
									[% END %]
							>mik</option>
							<option [% IF  assign == 'rob' %]
									selected="selected"
									[% END %]
							>rob</option>	
							<option [% IF  assign == 'raj' %]
									selected="selected"
									[% END %]
							>raj</option>	
						</select> <BR>
			<INPUT type="submit" value="Do IT!"> 
			<input type="button" value="Nah mate!" onclick="self.close()">
			 <br>
			[% IF id != '' %]
				[% comments = DBI.prepare
				("SELECT * FROM comment WHERE custid = $id") %] 
				<a href=/sscomment.pl?custid=[%id%]> Add Comment </a> <br>
				[% FOREACH comment = comments.execute %]
					[%	comment.date %] : [% comment.comment %] <br>
				[% END %]
			[% END %]
		</form>
    	<div id="footer">
      	<div id="copyright">
        		&copy; [% copyright %]
      	</div>
		</div>
	</body>
</html>
