[% INCLUDE header.tmpl %]
	<a href="/ssnewform.pl" target="_blank"> New </a>
[% INCLUDE sql.tmpl %]


<script type="text/javascript">

function displayRow(){
var norm = document.getElementById("norm");
var click = document.getElementById("clicked");
if (norm.style.display == '') norm.style.display = 'none';
else norm.style.display = '';
if (click.style.display == 'none') click.style.display = '';
else click.style.display ='none';
}

</script>

<input class="box"  type="button" onclick="displayRow()" value="Bomm" />

	<form action="/ssss.pl" method="get">
	<table border=1 width="100%">
		<tr>
		[% FOREACH item = column %]	
			<th> [% item %] </th> 
    	[% END %]
		</tr>
		<tr>
		[% FOREACH item = column %]	
			<td> 
				<INPUT type="radio" name="order" value="[% item %] ASC"
				[% IF parms.order == "$item ASC" %]
					checked
				[% END %]
				> u
				<br>
			 	<INPUT type="radio" name="order" value="[% item %] DESC"
				[% IF parms.order == "$item DESC" %]
					checked
				[% END %]
				> d
				<input type="submit" value="do it!">
			</td> 
    	[% END %]
		</tr>

        <tr>
        [% FOREACH thingy = column %]
            <td> 
			[% IF like.grep(thingy).0 %]
			<input type="text" size=[% thingy.length * 2 %] name="$thingy"
				[% IF parms.$thingy %]
					value="[% parms.$thingy %]"
				[% END %]
			>
			[% ELSE %]	
			<select name="$thingy">
				<option>ALL</option>
				[% IF thingy == "stage" %]
					<option
						[% IF parms.$thingy == 'ACTIVE' %]
							selected
						[% END %]
					>ACTIVE</option>
				[% END %]	
            	[% FOREACH cell = 
					DBI.query("SELECT DISTINCT $thingy FROM customer") %]
                    [% values = cell.list('values') %]
					[% FOREACH value = values %]
                		<option
							[% IF parms.$thingy == value %]
								selected
							[% END %]
						>$value</option>
					[% END %]
				[% END %]
			[% END %]
			</select>
            </td>
        [% END %]
		</tr>
		[% FOREACH key = customer.keys.sort %]
		<tr id="norm" onclick="removeElement()">
			[% FOREACH item = column %]
				[% IF item == 'email' ;
					text = customer.$key.$item.substr(0, 13) %]
					<td><a href=mailto:[%customer.$key.$item%]> $text </a></td>
				[% ELSE %]
  					<td><a href=/ssnewform.pl?id=[% key %] target="_blank"
						class="tip">
					[% customer.$key.$item %] 
					<span>
					Some text!
					[% FOREACH comment = comments %]
						[% IF comment.custid == key %]
							[% comment.date %] [% comment.comment %]
						[% END %]
					[% END %]
					</span></a>
					</td>
				[% END %]
			[% END %]
		</tr>
		<tr id="clicked" onclick="resetElement()">
			<td colspan="4">
			ID: <INPUT type="radio" name="id" value="[% customer.$key.id %]"
			 checked="checked"> <BR>
			Action Date (YYYY-MM-DD): <input type="text" size=10 name="actdate"
			 value='[% customer.$key.actdate %]'><BR>
			Name (50): <input type="text" size=50 name="name"
			 value="[% customer.$key.name %]" />	<BR>
			Address (250): <textarea name="address" rows=5 cols=50>
			 [% customer.$key.address %] </textarea> <BR>
			Phone (50): <input type="text" size=50 name="phone"
			 value="[% customer.$key.phone %]" /> <BR>
			Email (50): <input type="text" size=50 name="email"
			 value="[% customer.$key.email %]" /> <BR>	
			</td><td colspan="0">
			Reference (5): <input type="text" size=5 name="reff"
			 value="[% customer.$key.reff %]"/> <BR>
			Grant Type : <select name="grantype">
							<option></option>
							<option [% IF customer.$key.grantype == 'st1' %]
									selected="selected"
									[% END %]
							>st1</option>
							<option [% IF customer.$key.grantype == 'st2' %]
									selected="selected"
									[% END %]
							>st2</option>
							<option [% IF customer.$key.grantype == 'ph2' %]
									selected="selected"
									[% END %]
							>ph2</option>	
						</select> <BR>
			Lead: (5): <input type="text" size=5 name="lead"
			 value="[% customer.$key.lead %]"> <BR>
			First Contact (YYYY-MM-DD): <input type="text" size=10 name="first"
			 value="[% customer.$key.first %]"><BR>
			Stage: <select name="stage">
							<option [% IF  customer.$key.stage == 'first' %]
									selected="selected"
									[% END %]
							>first</option>
							<option [% IF  customer.$key.stage == 'quote' %]
									selected="selected"
									[% END %]
							>quote</option>
							<option [% IF  customer.$key.stage == 'happen' %]
									selected="selected"
									[% END %]
							>happen</option>	
							<option [% IF  customer.$key.stage == 'lost' %]
									selected="selected"
									[% END %]
							>lost</option>	
							<option [% IF  customer.$key.stage == 'completed' %]
									selected="selected"
									[% END %]
							>completed</option>	
						</select> <BR>
			Assigned to : <select name="assign">
							<option></option>
							<option [% IF  customer.$key.assign == 'rich' %]
									selected="selected"
									[% END %]
							>rich</option>
							<option [% IF  customer.$key.assign == 'mik' %]
									selected="selected"
									[% END %]
							>mik</option>
							<option [% IF  customer.$key.assign == 'rob' %]
									selected="selected"
									[% END %]
							>rob</option>	
							<option [% IF  customer.$key.assign == 'raj' %]
									selected="selected"
									[% END %]
							>raj</option>	
						</select> <BR>
			 <!--<br>
				<table width=100%>
					<tr> <td> Comment (500): </td> 
						<td> Date (YYYY-MM-DD): </td>
						<td></td></tr>
						[% IF id != '' %]
							[% comments = DBI.prepare
							("SELECT * FROM comment WHERE custid = $id") %] 
							[% FOREACH comment = comments.execute %]
								<tr><td>
								<textarea name="[% comment.id %]comment" cols=125 rows=3>[% comment.comment %]</textarea> </td>
			 					<td><input type="text" size=10 name="[% comment.id %]date" value="[% comment.date %]"></td>
								<td><a href="/sscomsure.pl?id=[% comment.id %]">Delete me!</a></td>
								</tr>
							[% END %]
						<tr><td><textarea name="comment" cols=125 rows=3></textarea></td>
			 			<td>
						<input type="text" size=10 name="date" value="$today">
						</td>
						<td></td></tr>
						[% END %]
				</table>
			--!>
			<BR>
            <INPUT type="submit" value="Do IT!">
			<input type="button" value="Nah mate!" onClick="window.opener.location.reload(true); window.close();">
		<br>
		<a href="/ssusure.pl?id=$id">Delete me!</a>
		</td>
		</tr>
		[% END %]
	</table>
	</form>
	<div id="footer">
  	<div id="copyright">
    		&copy; [% copyright %]
  	</div>
	</div>
</body>
</html>
