[% INSERT header.start.tmpl %]
[%# This is the main table page of the ssss, we start by including the
files that go to make up the header for this doc we need header.start
jquery.ssss sql and header.end
%]
<!-- the jquery stuff we need to make the page behave nicely --!>
[% INCLUDE jquery.ssss.tmpl %]
<!-- make connection to the database so we can read/write to it --!>
    [% USE DBI( database = 'dbi:mysql:solsystest',
        username = 'solsys' ,
        password = 'w0kk4' )
    %]
<!-- and the bottom of the header --!>
[% INSERT header.end.tmpl %]
<!-- this is wrong, dunno quite how to do new tings yet
	<a href="/ssnewform.pl" target="_blank"> New </a>
--!>
	<!-- the start of the form that limits the selection of clients from 
		the db. --!>
	<table border=1 width="100%">
	<form action="/cgi-bin/ssss.pl" method="get">
		<tr>
		[% FOREACH item = column %]	
			<th> [% item %] </th> 
    	[% END %]
		</tr>
		<tr>
		[% FOREACH item = column %]	
			<td> 
				<INPUT type="radio" name="order" value="[% item %] ASC"
				[%- IF parms.order == "$item ASC" -%]
					checked
				[%- END -%]
				> u
				<br>
			 	<INPUT type="radio" name="order" value="[% item %] DESC"
				[%- IF parms.order == "$item DESC" -%]
					checked
				[%- END -%]
				> d
				<input type="submit" value="do it!">
			</td> 
    	[% END %]
		</tr>

        <tr>
        [% FOREACH thingy = column %]
            <td> 
			[% IF like.grep(thingy).0 %]
			<input type="text" size=[% thingy.length * 2 %] name="$thingy"
				[%- IF parms.$thingy -%]
					value="[% parms.$thingy %]"
				[% END %]
			>
			[% ELSE %]	
			<select name="$thingy">
				<option>ALL</option>
				[% IF thingy == "stage" %]
					<option
						[%- IF parms.$thingy == 'ACTIVE' -%]
							selected
						[%- END -%]
					>ACTIVE</option>
				[% END %]	
            	[% FOREACH cell = 
					DBI.query("SELECT DISTINCT $thingy FROM customer") %]
                    [% values = cell.list('values') %]
					[% FOREACH value = values %]
                		<option
							[%- IF parms.$thingy == value -%]
								selected
							[%- END -%]
						>$value</option>
					[% END %]
				[% END %]
			[% END %]
			</select>
            </td>
        [% END %]
		</form>
		</tr>
		<!-- start the form out side the loop --!>	
		<form action="/cgi-bin/ssss.pl" method="post">
		[% FOREACH key = customer.keys %]
		<tr class="norm">
			[% FOREACH item = column %]
				[% IF item == 'email' ;
					text = customer.$key.$item.substr(0, 13) %]
					<td><a href=mailto:[%customer.$key.$item%]> $text </a></td>
				[% ELSE %]
  					<td>
					[% customer.$key.$item %] 
					<span>
					[% FOREACH comment = comments %]
						[% IF comment.custid == key %]
							[% comment.date %] [% comment.comment %]
						[% END %]
					[% END %]
					</span>
					</td>
				[% END %]
			[% END %]
		</tr>
		<tr class="edit">
			<td colspan="12">
			<!-- add a close div with and X in it, so clicking the X
			closes the open pane with js --!>
			<div class='close'>X</div>
			<div id ='[%customer.$key.id%]tabs'>
				<ul>
					<li><a href="#[%customer.$key.id%]tabs-1">Main</a></li>
					<li><a href="#[%customer.$key.id%]tabs-2">Comments</a></li>
					<li><a href="#[%customer.$key.id%]tabs-3">Project Manglement</a></li>
					<li><a href="#[%customer.$key.id%]tabs-4">Attachments</a></li>
				</ul>

				<div id='[%customer.$key.id%]tabs-1'>
				<!-- Show the ID so people can read it, we don't need to pass
				this to the cgi as it's used as part of the name for the
				relevant fields. To mkae life easier no field names can start
				with a number so that ^[0-9]+ matches the key on the front on
				the field name. --!>
				ID: [% customer.$key.id %]  
				Action Date (YYYY-MM-DD): <input type="text" size=10
					name="[% customer.$key.id %]actdate"
					value='[% customer.$key.actdate %]'>
				Name (50): <input type="text" size=50
					name="[% customer.$key.id %]name"
				 	value="[% customer.$key.name %]" />	
				Address (250): <textarea name="[% customer.$key.id %]address"
					rows=5 cols=50>[% customer.$key.address %]</textarea>
				Phone (50): <input type="text" size=50
					name="[% customer.$key.id %]phone"
				 	value="[% customer.$key.phone %]"/>
				Email (50): <input type="text" size=50
					name="[% customer.$key.id %]email"
				 	value="[% customer.$key.email %]"/>
				Reference (5): <input type="text" size=5
					name="[% customer.$key.id %]reff"
				 	value="[% customer.$key.reff %]"/>
				Grant Type : <select name="[% customer.$key.id %]grantype">
							<option></option>
								<option [% IF customer.$key.grantype == 'st1' -%]
										selected="selected"
										[%- END -%]
								>st1</option>
								<option [% IF customer.$key.grantype == 'st2' -%]
										selected="selected"
										[%- END -%]
								>st2</option>
								<option [% IF customer.$key.grantype == 'ph2' -%]
										selected="selected"
										[%- END -%]
								>ph2</option>	
							</select> 
				Lead: (5): <input type="text" size=5
					name="[% customer.$key.id %]lead"
				 	value="[% customer.$key.lead %]">
				First Contact (YYYY-MM-DD): <input type="text" size=10
					name="[% customer.$key.id %]first"
				 	value="[% customer.$key.first %]">
				Stage: <select name="[% customer.$key.id %]stage">
								<option [% IF  customer.$key.stage == 'first' -%]
										selected="selected"
										[%- END -%]
								>first</option>
								<option [% IF  customer.$key.stage == 'quote' -%]
										selected="selected"
										[%- END -%]
								>quote</option>
								<option [% IF  customer.$key.stage == 'happen' -%]
										selected="selected"
										[%- END -%]
								>happen</option>	
								<option [% IF  customer.$key.stage == 'lost' -%]
										selected="selected"
										[%- END -%]
								>lost</option>	
								<option [% IF  customer.$key.stage == 'completed' -%]
										selected="selected"
										[%- END -%]
								>completed</option>	
							</select>
				Assigned to : <select name="[% customer.$key.id %]assign">
								<option></option>
								<option [% IF  customer.$key.assign == 'rich' -%]
										selected="selected"
										[%- END -%]
								>rich</option>
								<option [% IF  customer.$key.assign == 'mik' -%]
										selected="selected"
										[%- END -%]
								>mik</option>
								<option [% IF  customer.$key.assign == 'rob' -%]
										selected="selected"
										[%- END -%]
								>rob</option>	
								<option [% IF  customer.$key.assign == 'raj' -%]
										selected="selected"
										[%- END -%]
								>raj</option>	
							</select>
				<BR>
            	<INPUT type="submit" value="Do IT!">
				<input type="button" value="Nah mate!" onClick="window.opener.location.reload(true); window.close();">
				<input type="text" size="50" name="[%customer.$key.id%]changes">
				</input>
				<br>
				<a href="">Delete me!</a>
				</div>
				<div id='[%customer.$key.id%]tabs-2'>
					 Comment (500):  
					 Date (YYYY-MM-DD): 
					[% FOREACH comment = comments %]
						[% IF comment.id == customer.$key.id %]
						<textarea name="[% comment.id %]comment" cols=125
						rows=3>[% comment.comment %]</textarea>
			 			<input type="text" size=10 name="[% comment.id %]date"
						value="[% comment.date %]">
						<a href="/sscomsure.pl?id=[% comment.id %]">
							Delete me!</a>
						[% END %]
					[% END %]
					<textarea name="comment" cols=125 rows=3></textarea>
					<input type="text" size=10 name="date" value="$today">
				</div>
				<div id='[%customer.$key.id%]tabs-3'>
					Some guff!
				</div>
				<div id='[%customer.$key.id%]tabs-4'>
					Filez
				</div>
			</div>
			</td>
		</tr>
		[% END %]
		<tr>	
			<td colspan='4'>
			NEW <Br>
			Action Date (YYYY-MM-DD): <input type="text" size=10
				name="newactdate"><BR>
			Name (50): <input class="foo" type="text" size=50 name="newname"/>	<BR>
			Address (250):
				 <textarea name="newaddress" rows=5 cols=50></textarea> <BR>
			Phone (50): <input type="text" size=50 name="newphone"/> <BR>
			Email (50): <input type="text" size=50 name="newemail"/> <BR>	
			</td><td colspan="0">
			Reference (5): <input type="text" size=5 name="newreff"/> <BR>
			Grant Type : <select name="newgrantype">
							<option></option>
							<option>st1</option>
							<option>st2</option>
							<option >ph2</option>	
						</select> <BR>
			Lead: (5): <input type="text" size=5 name="newlead"/> <BR>
			First Contact (YYYY-MM-DD): <input type="text" size=10
				name="newfirst"/><BR>
			Stage: <select name="newstage">
							<option selected="selected">first</option>
							<option>quote</option>
							<option>happen</option>	
							<option>lost</option>	
							<option>completed</option>	
						</select> <BR>
			Assigned to : <select name="newassign">
							<option></option>
							<option>rich</option>
							<option>mik</option>
							<option>rob</option>
							<option>raj</option>
						</select>
			</td>
			<td> <INPUT type="submit" value="Do IT!"> </td>
		<tr>
		</form>
	</table>
	<div id="footer">
  	<div id="copyright"	>
    		&copy; [% copyright %]
  	</div>
	</div>
	<!-- disconnect from database, to stop error --!>
	[% DBI.disconnect %] 
</body>
</html>
